.coupon {
  position: relative;
  box-sizing: border-box;
  cursor: pointer;
}
.coupon::before {
  position: absolute;
  content: "";
  /* left: 240px; */
  top: 0;
  bottom: 0;
  width: 0;
}
.coupon::after {
  position: absolute;
  transform: translate(-50%, -50%);
  /* line-height: 40px; */
  letter-spacing: 5px;
}


/* Context menu css */

nav.react-contextmenu {
  position: fixed;
  width: 200px;
  left: 0;
  top: calc(100% + 10px);
  border-radius: 4px;
  background-color: #fff;
  padding: 10px 0;
  z-index: 99;
  box-shadow: 0 0 20px rgba(0,0,0,.2);
}
.react-contextmenu .react-contextmenu-item:hover{
background: #aba9a9;
}

.react-contextmenu-item:hover:not(.react-contextmenu-item--disabled) {
background-color: #f1f1f1;
}

.react-contextmenu .react-contextmenu-item{
font-size: 14px;
display: block;
text-decoration: none;
padding: 10px 15px;
cursor: pointer;
user-select: none;
transition: .2s;
position: relative;
margin-bottom: 2px;
font-weight: 500;
display: flex;
align-items: center;
outline: none;
}
.react-contextmenu-item span{
margin-left: 10px;
}
.react-contextmenu-item svg{
font-size: 14px;
}
.react-contextmenu-item .copy{
color:skyblue
}
.react-contextmenu-item .delete{
color:red
}
.react-contextmenu-item .send{
color: blue
}
.react-contextmenu-item .share{
color: green
}
.react-contextmenu-item .watchlist{
color: rebeccapurple
}



.container {
  height: 580px;
  width: 100%;
}

.draggable {
  cursor: -webkit-grab;
  cursor: grab;
}

.uk-input,
.uk-textarea,
.uk-checkbox {
  margin-bottom: 10px;
}
